@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./colors.scss";

body {
  background-color: $raisin-black;
  color: $ivory;
}

.durationInput {
  display: inline-flex;
  width: 60px;
}

.pre {
  white-space: pre;
}

.bold {
  font-weight: bold;
}

.title {
  display: inline-flex;
}

.new-mission {
  color: $ivory;
}

.rounded {
  border-radius: 10px;
}

.centered {
  text-align: center;
  align-content: center;
}

.chart {
  margin: 15px;
}

.button {
  border: $glaucous solid 4px;
  border-radius: 5px;
  background-color: $glaucous;
  padding: 10px;
  margin: 4px;
  color: black;
  font-weight: bold;
}

.ivory {
  border: $ivory;
  background-color: $ivory;
}

.link {
  border: $glaucous;
  background-color: $glaucous;
}

.delete {
  border: $crimson;
  background-color: $crimson;
}

.edit {
  border: $blue-purple;
  background-color: $blue-purple;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.right {
  align-items: flex-end;
}

.opal-tile {
  background-color: $opal;
  color: black;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

.option {
  width: 80px;
}

tr {
  border-bottom: 2px solid $glaucous;
}

.logo {
  max-height: 110px;
  margin: 10px;
}

.inline {
  display: inline-flex;
}

.block {
  display: block;
}

.bottom {
  vertical-align: bottom;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}