@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./colors.scss";

body {
  background-color: $raisin-black;
  color: $ivory;
}

label {
  color: $ivory;
}

input[type=text],
input[type=number] {
  background-color: $ivory;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
