@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./colors.scss";

body {
  background-color: $raisin-black;
  color: $ivory;
}

label {
  color: $ivory;
}

.rounded {
  border-radius: 10px;
}

.centered {
  text-align: center;
}

input[type=text],
input[type=number] {
  background-color: $ivory;
}

.link-button {
  border: $glaucous solid 4px;
  border-radius: 5px;
  background-color: $glaucous;
  display: inline;
  padding: 4px;
}

.opal-tile {
  background-color: $opal;
  color: black;
  margin: 20px;
  padding: 5px;
}

.option {
  width: 80px;
}

tr {
  border-bottom: 2px solid $glaucous;
}

.logo {
  max-height: 100px;
}

.inline {
  display: inline-flex;
}

.bottom {
  vertical-align: bottom;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}